# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
*.pyo
# Ignore local settings (e.g. db passwords)
local_settings.py

# Media & static
/media/
/staticfiles/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db